<section class="parallax">
    <img src="images/stars.png" class="parallax__img parallax__img-0" data-speed="-1">
    <img src="images/star.png" class="parallax__img parallax__img-1" data-speed="1">
    <img src="images/star.png" class="parallax__img parallax__img-2" data-speed="-2">
    <img src="images/star.png" class="parallax__img parallax__img-3" data-speed="1">
    <img src="images/star.png" class="parallax__img parallax__img-4" data-speed="15">
    <img src="images/star.png" class="parallax__img" data-speed="1">
</section>