<section class="slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('images/1.jpg')"></div>
            <div class="swiper-slide" style="background-image: url('images/2.jpg')"></div>
            <div class="swiper-slide" style="background-image: url('images/3.jpg')"></div>
            <div class="swiper-slide" style="background-image: url('images/4.jpg')"></div>
            <div class="swiper-slide" style="background-image: url('images/5.jpg')"></div>
            <div class="swiper-slide" style="background-image: url('images/6.jpg')"></div>
            <div class="swiper-slide" style="background-image: url('images/7.jpg')"></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>